@import "tailwindcss";
body {
  margin: 0;
  font-family:
    "Noto Sans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 15px;
}
h1 {
  font-size: xx-large;
  width: 80vw;
  font-weight: 600;
  float: left;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
  width: 80vw;
  height: 70vh;
}

.grid {
  background-color: green;
  border-radius: 12px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
}

.box-0 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
.box-1 {
  grid-column: 3 / span 2;
}

.box-2 {
  grid-row: 2 / span 1;
  grid-column: 3 / span 2;
}

p {
  color: white;
  font-size: larger;
}

.description {
  font-weight: bold;
}

@media (max-width: 42em) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: fit-content;
  }
  .grid {
    grid-column: 1;
  }
  .box-0 {
    grid-row: 1 / span 2;
  }
  .box-1 {
    grid-row: 3 / span 1;
    aspect-ratio: 1/1;
  }
  .box-2 {
    grid-row: 4 / span 1;
    aspect-ratio: 1/1;
  }
  p {
    color: white;
    font-size: medium;
  }
  h1 {
    font-size: larger;
  }
}
